@import '../../scss/_variables.scss';

.wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('../../assets/img/bgSpaceBlue.jpg');
  background-size: cover;
  z-index: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    width: 100vw;
    height: 100vw;
  }

  @media screen and (min-width: 581px) and (max-width: 768px) {
    width: 100vw;
    height: 100vw;
  }

  @media screen and (min-width: 461px) and (max-width: 580px) {
    width: 100vw;
    height: 100vw;
  }

  @media screen and (min-width: 320px) and (max-width: 460px) {
    width: 100vw;
    height: 100vw;
  }

  .backgroundStars {
    width: 100vw;
    height: 100vh;
    background-image: url('../../assets/img/backgroundStars.png');
    background-size: cover;
    background-color: transparentize($black, 0.25);
    z-index: 1;

    @media screen and (min-width: 769px) and (max-width: 1024px) {
      width: 100vw;
      height: 100vw;
    }

    @media screen and (min-width: 581px) and (max-width: 768px) {
      width: 100vw;
      height: 100vw;
    }

    @media screen and (min-width: 461px) and (max-width: 580px) {
      width: 100vw;
      height: 100vw;
    }

    @media screen and (min-width: 320px) and (max-width: 460px) {
      width: 100vw;
      height: 100vw;
    }
  }

  .stars {
    position: absolute;
    top: calc(50% - (790px / 2));
    left: calc(30% - (920px / 2));
    width: 920px;
    height: 790px;
    background-image: url('../../assets/img/stars.png');
    background-size: cover;
    z-index: 15;

    @media screen and (min-width: 1381px) and (max-width: 1580px) {
      top: calc(45% - 325px);
      left: calc(30% - 425px);
      width: 850px;
      height: 650px;
    }

    @media screen and (min-width: 1201px) and (max-width: 1380px) {
      top: calc(40% - (500px / 2));
      left: calc(30% - (640px / 2));
      width: 640px;
      height: 500px;
    }

    @media screen and (min-width: 1025px) and (max-width: 1200px) {
      top: calc(40% - (500px / 2));
      left: calc(30% - (640px / 2));
      width: 640px;
      height: 500px;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
      top: calc(45% - 250px);
      left: calc(45% - 320px);
      width: 640px;
      height: 500px;
    }

    @media screen and (min-width: 581px) and (max-width: 768px) {
      top: calc(40% - 185px);
      left: calc(45% - 250px);
      width: 500px;
      height: 370px;
    }

    @media screen and (min-width: 461px) and (max-width: 580px) {
      top: calc(45% - 160px);
      left: calc(45% - 200px);
      width: 400px;
      height: 320px;
    }

    @media screen and (min-width: 320px) and (max-width: 460px) {
      top: calc(40% - 92px);
      left: calc(45% - 110px);
      width: 220px;
      height: 194px;
    }
  }
  .astronaut {
    position: absolute;
    top: calc(50% - (700px / 2));
    left: calc(32.5% - (700px / 2));
    width: 700px;
    height: 700px;
    background-image: url('../../assets/img/astronaut.png');
    background-size: cover;
    z-index: 5;

    @media screen and (min-width: 1381px) and (max-width: 1580px) {
      top: calc(48% - (600px / 2));
      left: calc(33.5% - (600px / 2));
      width: 600px;
      height: 600px;
    }

    @media screen and (min-width: 1201px) and (max-width: 1380px) {
      top: calc(45% - (480px / 2));
      left: calc(33.5% - (480px / 2));
      width: 480px;
      height: 480px;
    }

    @media screen and (min-width: 1025px) and (max-width: 1200px) {
      top: calc(45% - (480px / 2));
      left: calc(33.5% - (480px / 2));
      width: 480px;
      height: 480px;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
      top: calc(50% - 250px);
      left: calc(46% - 250px);
      width: 500px;
      height: 500px;
    }

    @media screen and (min-width: 581px) and (max-width: 768px) {
      top: calc(48% - 200px);
      left: calc(46% - 200px);
      width: 400px;
      height: 400px;
    }

    @media screen and (min-width: 461px) and (max-width: 580px) {
      top: calc(50% - 140px);
      left: calc(45% - 140px);
      width: 280px;
      height: 280px;
    }

    @media screen and (min-width: 320px) and (max-width: 460px) {
      top: calc(45% - 80px);
      left: calc(45% - 80px);
      width: 160px;
      height: 160px;
    }
  }
  .icon {
    z-index: 10;
    background-size: cover;
  }
  .html {
    position: absolute;
    top: calc(62% - (75px / 2));
    left: calc(13% - (65px / 2));
    width: 65px;
    height: 75px;
    background-image: url('../../assets/icon/html.png');

    @media screen and (min-width: 1381px) and (max-width: 1580px) {
      top: calc(62% - (65px / 2));
      left: calc(13% - (55px / 2));
      width: 55px;
      height: 65px;
    }

    @media screen and (min-width: 1201px) and (max-width: 1380px) {
      top: calc(62% - (55px / 2));
      left: calc(13% - (48px / 2));
      width: 48px;
      height: 55px;
    }

    @media screen and (min-width: 1025px) and (max-width: 1200px) {
      top: calc(62% - (37px / 2));
      left: calc(13% - (32px / 2));
      width: 32px;
      height: 37px;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
      top: calc(60% - 26px);
      left: calc(20% - 23px);
      width: 46px;
      height: 52px;
    }

    @media screen and (min-width: 581px) and (max-width: 768px) {
      top: calc(60% - 26px);
      left: calc(20% - 23px);
      width: 40px;
      height: 46px;
    }

    @media screen and (min-width: 461px) and (max-width: 580px) {
      top: calc(60% - 26px);
      left: calc(20% - 23px);
      width: 33px;
      height: 37px;
    }

    @media screen and (min-width: 320px) and (max-width: 460px) {
      top: calc(60% - 15px);
      left: calc(20% - 13px);
      width: 26px;
      height: 29px;
    }
  }
  .css {
    position: absolute;
    top: calc(73% - (90px / 2));
    left: calc(42.5% - (100px / 2));
    width: 100px;
    height: 90px;
    background-image: url('../../assets/icon/css.png');

    @media screen and (min-width: 1381px) and (max-width: 1580px) {
      top: calc(73% - (80px / 2));
      left: calc(42.5% - (90px / 2));
      width: 90px;
      height: 80px;
    }

    @media screen and (min-width: 1201px) and (max-width: 1380px) {
      top: calc(73% - (60px / 2));
      left: calc(42.5% - (70px / 2));
      width: 70px;
      height: 60px;
    }

    @media screen and (min-width: 1025px) and (max-width: 1200px) {
      top: calc(73% - (45px / 2));
      left: calc(42.5% - (55px / 2));
      width: 55px;
      height: 45px;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
      top: calc(75% - 27.5px);
      left: calc(32% - 30px);
      width: 60px;
      height: 55px;
    }

    @media screen and (min-width: 581px) and (max-width: 768px) {
      top: calc(75% - 27.5px);
      left: calc(32% - 30px);
      width: 55px;
      height: 50px;
    }

    @media screen and (min-width: 461px) and (max-width: 580px) {
      top: calc(75% - 27.5px);
      left: calc(32% - 30px);
      width: 47px;
      height: 42px;
    }

    @media screen and (min-width: 320px) and (max-width: 460px) {
      top: calc(68% - 17.5px);
      left: calc(31% - 15px);
      width: 34px;
      height: 38px;
    }
  }
  .js {
    position: absolute;
    top: calc(15% - (90px / 2));
    left: calc(21.5% - (80px / 2));
    width: 80px;
    height: 90px;
    background-image: url('../../assets/icon/js.png');

    @media screen and (min-width: 1381px) and (max-width: 1580px) {
      top: calc(15% - (80px / 2));
      left: calc(21.5% - (70px / 2));
      width: 70px;
      height: 80px;
    }

    @media screen and (min-width: 1201px) and (max-width: 1380px) {
      top: calc(15% - (60px / 2));
      left: calc(21.5% - (53px / 2));
      width: 53px;
      height: 60px;
    }

    @media screen and (min-width: 1025px) and (max-width: 1200px) {
      top: calc(15% - (37px / 2));
      left: calc(21.5% - (33px / 2));
      width: 33px;
      height: 37px;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
      top: calc(20% - 27.5px);
      left: calc(30% - 25px);
      width: 50px;
      height: 57px;
    }

    @media screen and (min-width: 581px) and (max-width: 768px) {
      top: calc(20% - 27.5px);
      left: calc(30% - 25px);
      width: 45px;
      height: 52px;
    }

    @media screen and (min-width: 461px) and (max-width: 580px) {
      top: calc(20% - 27.5px);
      left: calc(30% - 25px);
      width: 35px;
      height: 39px;
    }

    @media screen and (min-width: 320px) and (max-width: 460px) {
      top: calc(20% - 17.5px);
      left: calc(30% - 15px);
      width: 30px;
      height: 34px;
    }
  }
  .react {
    position: absolute;
    top: calc(36% - (106px / 2));
    left: calc(13% - (120px / 2));
    width: 120px;
    height: 106px;
    background-image: url('../../assets/icon/react.png');

    @media screen and (min-width: 1381px) and (max-width: 1580px) {
      top: calc(36% - (86px / 2));
      left: calc(13% - (100px / 2));
      width: 100px;
      height: 86px;
    }

    @media screen and (min-width: 1201px) and (max-width: 1380px) {
      top: calc(36% - (70px / 2));
      left: calc(13% - (80px / 2));
      width: 80px;
      height: 70px;
    }

    @media screen and (min-width: 1025px) and (max-width: 1200px) {
      top: calc(36% - (53px / 2));
      left: calc(13% - (60px / 2));
      width: 60px;
      height: 53px;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
      top: calc(35% - 28px);
      left: calc(18% - 30px);
      width: 60px;
      height: 58px;
    }

    @media screen and (min-width: 581px) and (max-width: 768px) {
      top: calc(35% - 28px);
      left: calc(18% - 30px);
      width: 55px;
      height: 53px;
    }

    @media screen and (min-width: 461px) and (max-width: 580px) {
      top: calc(35% - 28px);
      left: calc(18% - 30px);
      width: 47px;
      height: 49px;
    }

    @media screen and (min-width: 320px) and (max-width: 460px) {
      top: calc(38% - 20px);
      left: calc(18% - 20px);
      width: 40px;
      height: 41px;
    }
  }
  .redux {
    position: absolute;
    top: calc(11% - (100px / 2));
    left: calc(55% - (100px / 2));
    width: 100px;
    height: 100px;
    background-image: url('../../assets/icon/redux.png');

    @media screen and (min-width: 1381px) and (max-width: 1580px) {
      top: calc(11% - (90px / 2));
      left: calc(55% - (90px / 2));
      width: 90px;
      height: 90px;
    }

    @media screen and (min-width: 1201px) and (max-width: 1380px) {
      top: calc(11% - (70px / 2));
      left: calc(55% - (70px / 2));
      width: 70px;
      height: 70px;
    }

    @media screen and (min-width: 1025px) and (max-width: 1200px) {
      top: calc(11% - (50px / 2));
      left: calc(55% - (50px / 2));
      width: 50px;
      height: 50px;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
      top: calc(15% - 30px);
      left: calc(76% - 30px);
      width: 60px;
      height: 60px;
    }

    @media screen and (min-width: 581px) and (max-width: 768px) {
      top: calc(15% - 30px);
      left: calc(76% - 30px);
      width: 55px;
      height: 55px;
    }

    @media screen and (min-width: 461px) and (max-width: 580px) {
      top: calc(15% - 30px);
      left: calc(76% - 30px);
      width: 45px;
      height: 45px;
    }

    @media screen and (min-width: 320px) and (max-width: 460px) {
      top: calc(15% - 20px);
      left: calc(76% - 20px);
      width: 34px;
      height: 34px;
    }
  }
  .sass {
    position: absolute;
    top: calc(36% - (116px / 2));
    left: calc(55.5% - (116px / 2));
    width: 116px;
    height: 116px;
    background-image: url('../../assets/icon/sass.png');

    @media screen and (min-width: 1381px) and (max-width: 1580px) {
      top: calc(36% - (96px / 2));
      left: calc(55.5% - (96px / 2));
      width: 96px;
      height: 96px;
    }

    @media screen and (min-width: 1201px) and (max-width: 1380px) {
      top: calc(36% - (76px / 2));
      left: calc(55.5% - (76px / 2));
      width: 76px;
      height: 76px;
    }

    @media screen and (min-width: 1025px) and (max-width: 1200px) {
      top: calc(36% - (56px / 2));
      left: calc(55.5% - (56px / 2));
      width: 56px;
      height: 56px;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
      top: calc(32% - 30px);
      left: calc(67% - 30px);
      width: 60px;
      height: 60px;
    }

    @media screen and (min-width: 581px) and (max-width: 768px) {
      top: calc(32% - 30px);
      left: calc(67% - 30px);
      width: 55px;
      height: 55px;
    }

    @media screen and (min-width: 461px) and (max-width: 580px) {
      top: calc(32% - 30px);
      left: calc(67% - 30px);
      width: 48px;
      height: 48px;
    }

    @media screen and (min-width: 320px) and (max-width: 460px) {
      top: calc(36% - 20px);
      left: calc(81% - 20px);
      width: 40px;
      height: 40px;
    }
  }
  .webpack {
    position: absolute;
    top: calc(7% - (55px / 2));
    left: calc(33.5% - (55px / 2));
    width: 55px;
    height: 55px;
    background-image: url('../../assets/icon/webpack.png');

    @media screen and (min-width: 1381px) and (max-width: 1580px) {
      top: calc(7% - (45px / 2));
      left: calc(33.5% - (45px / 2));
      width: 45px;
      height: 45px;
    }

    @media screen and (min-width: 1201px) and (max-width: 1380px) {
      top: calc(7% - (40px / 2));
      left: calc(33.5% - (40px / 2));
      width: 40px;
      height: 40px;
    }

    @media screen and (min-width: 1025px) and (max-width: 1200px) {
      top: calc(7% - (40px / 2));
      left: calc(33.5% - (40px / 2));
      width: 40px;
      height: 40px;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
      top: calc(8% - 27px);
      left: calc(50.5% - 27px);
      width: 55px;
      height: 55px;
    }

    @media screen and (min-width: 581px) and (max-width: 768px) {
      top: calc(8% - 27px);
      left: calc(50.5% - 27px);
      width: 50px;
      height: 50px;
    }

    @media screen and (min-width: 461px) and (max-width: 580px) {
      top: calc(8% - 27px);
      left: calc(50.5% - 27px);
      width: 42px;
      height: 42px;
    }

    @media screen and (min-width: 320px) and (max-width: 460px) {
      top: calc(10% - 17px);
      left: calc(45.5% - 17px);
      width: 35px;
      height: 35px;
    }
  }
  .github {
    position: absolute;
    top: calc(55% - (60px / 2));
    left: calc(50.5% - (60px / 2));
    width: 60px;
    height: 60px;
    background-image: url('../../assets/icon/githubWhite.png');

    @media screen and (min-width: 1381px) and (max-width: 1580px) {
      top: calc(55% - (50px / 2));
      left: calc(50.5% - (50px / 2));
      width: 50px;
      height: 50px;
    }

    @media screen and (min-width: 1201px) and (max-width: 1380px) {
      top: calc(55% - (40px / 2));
      left: calc(50.5% - (40px / 2));
      width: 40px;
      height: 40px;
    }

    @media screen and (min-width: 1025px) and (max-width: 1200px) {
      top: calc(55% - (35px / 2));
      left: calc(50.5% - (35px / 2));
      width: 35px;
      height: 35px;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
      top: calc(65% - 23px);
      left: calc(65% - 23px);
      width: 46px;
      height: 46px;
    }

    @media screen and (min-width: 581px) and (max-width: 768px) {
      top: calc(65% - 23px);
      left: calc(65% - 23px);
      width: 40px;
      height: 40px;
    }

    @media screen and (min-width: 461px) and (max-width: 580px) {
      top: calc(65% - 23px);
      left: calc(65% - 23px);
      width: 35px;
      height: 35px;
    }

    @media screen and (min-width: 320px) and (max-width: 460px) {
      top: calc(70% - 14px);
      left: calc(60% - 14px);
      width: 28px;
      height: 28px;
    }
  }
  .figma {
    position: absolute;
    top: calc(75% - (70px / 2));
    left: calc(22% - (70px / 2));
    width: 70px;
    height: 70px;
    background-image: url('../../assets/icon/figma.png');

    @media screen and (min-width: 1381px) and (max-width: 1580px) {
      top: calc(75% - (55px / 2));
      left: calc(22% - (55px / 2));
      width: 55px;
      height: 55px;
    }

    @media screen and (min-width: 1201px) and (max-width: 1380px) {
      top: calc(75% - (45px / 2));
      left: calc(22% - (45px / 2));
      width: 45px;
      height: 45px;
    }

    @media screen and (min-width: 1025px) and (max-width: 1200px) {
      top: calc(75% - (45px / 2));
      left: calc(22% - (45px / 2));
      width: 45px;
      height: 45px;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
      top: calc(50% - 23px);
      left: calc(77% - 23px);
      width: 46px;
      height: 46px;
    }

    @media screen and (min-width: 581px) and (max-width: 768px) {
      top: calc(50% - 23px);
      left: calc(77% - 23px);
      width: 40px;
      height: 40px;
    }

    @media screen and (min-width: 461px) and (max-width: 580px) {
      top: calc(55% - 18px);
      left: calc(75% - 18px);
      width: 35px;
      height: 35px;
    }

    @media screen and (min-width: 320px) and (max-width: 460px) {
      top: calc(55% - 15px);
      left: calc(75% - 15px);
      width: 30px;
      height: 30px;
    }
  }

  .text__container {
    position: absolute;
    top: 48%;
    right: 7%;
    z-index: 8;
    overflow: hidden;

    @media screen and (min-width: 1381px) and (max-width: 1580px) {
      right: 2%;
    }

    @media screen and (min-width: 1201px) and (max-width: 1380px) {
      right: 1%;
    }

    @media screen and (min-width: 1025px) and (max-width: 1200px) {
      top: 58%;
      right: 5%;
    }

    @media screen and (min-width: 769px) and (max-width: 1024px) {
      top: 80%;
      right: 10%;
    }

    @media screen and (min-width: 581px) and (max-width: 768px) {
      top: 80%;
      right: 10%;
    }

    @media screen and (min-width: 461px) and (max-width: 580px) {
      top: 80%;
      right: 10%;
    }

    @media screen and (min-width: 320px) and (max-width: 460px) {
      top: 80%;
      right: 10%;
    }

    &_title {
      font-family: 'Shantell Sans', cursive;
      font-size: 58px;
      font-style: italic;
      font-weight: 700;
      letter-spacing: 2px;
      color: $red;
      text-align: center;

      @media screen and (min-width: 1381px) and (max-width: 1580px) {
        font-size: 48px;
      }

      @media screen and (min-width: 1201px) and (max-width: 1380px) {
        font-size: 38px;
      }

      @media screen and (min-width: 1025px) and (max-width: 1200px) {
        font-size: 32px;
      }

      @media screen and (min-width: 769px) and (max-width: 1024px) {
        font-size: 26px;
      }

      @media screen and (min-width: 581px) and (max-width: 768px) {
        font-size: 22px;
      }

      @media screen and (min-width: 461px) and (max-width: 580px) {
        font-size: 14px;
      }

      @media screen and (min-width: 320px) and (max-width: 460px) {
        font-size: 8px;
      }
    }

    &_text {
      font-family: 'Shantell Sans', cursive;
      font-size: 48px;
      font-style: italic;
      font-weight: 700;
      letter-spacing: 2px;
      color: $gold;
      text-align: center;

      @media screen and (min-width: 1381px) and (max-width: 1580px) {
        font-size: 38px;
      }

      @media screen and (min-width: 1201px) and (max-width: 1380px) {
        font-size: 32px;
      }

      @media screen and (min-width: 1025px) and (max-width: 1200px) {
        font-size: 28px;
      }

      @media screen and (min-width: 769px) and (max-width: 1024px) {
        font-size: 22px;
      }

      @media screen and (min-width: 581px) and (max-width: 768px) {
        font-size: 18px;
      }

      @media screen and (min-width: 461px) and (max-width: 580px) {
        font-size: 10px;
      }

      @media screen and (min-width: 320px) and (max-width: 460px) {
        font-size: 6px;
      }
    }
  }
}
