@import '../../scss/_variables.scss';

.wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url("../../assets/img/background.png");
    background-size: cover;
    z-index: 0;
    position: relative;

    .stars {
        position: absolute;
        top: calc(50% - 395px);
        left: calc(30% - 460px);
        width: 920px;
        height: 790px;
        background-image: url("../../assets/img/stars.png");
        background-size: cover;
        z-index: 15;
    }

    .astronaut {
        position: absolute;
        top: calc(50% - (700px / 2));
        left: calc(32.5% - (700px / 2));
        width: 700px;
        height: 700px;
        background-image: url("../../assets/img/astronaut.png");
        background-size: cover;
        z-index: 1;
    }

    .icon {
        z-index: 10;
        background-size: cover;
    }

    .html {
        position: absolute;
        top: calc(62% - 37.5px);
        left: calc(13% - 32.5px);
        width: 65px;
        height: 75px;
        background-image: url("../../assets/icon/html.png");
    }

    .css {
        position: absolute;
        top: calc(73% - 45px);
        left: calc(42.5% - 50px);
        width: 100px;
        height: 90px;
        background-image: url("../../assets/icon/css.png");
    }
    .js {
        position: absolute;
        top: calc(15% - 46px);
        left: calc(21.5% - 40px);
        width: 80px;
        height: 92px;
        background-image: url("../../assets/icon/js.png");
    }

    .react {
        position: absolute;
        top: calc(36% - 53px);
        left: calc(13% - 60px);
        width: 120px;
        height: 106px;
        background-image: url("../../assets/icon/react.png");
    }
    .redux {
        position: absolute;
        top: calc(11% - 50px);
        left: calc(55% - 50px);
        width: 100px;
        height: 100px;
        background-image: url("../../assets/icon/redux.png");
    }
    .sass {
        position: absolute;
        top: calc(36% - 58px);
        left: calc(55.5% - 58px);
        width: 116px;
        height: 116px;
        background-image: url("../../assets/icon/sass.png");
    }
    .webpack {
        position: absolute;
        top: calc(7% - 25px);
        left: calc(33.5% - 25px);
        width: 55px;
        height: 55px;
        background-image: url("../../assets/icon/webpack.png");
    }
    .github {
        position: absolute;
        top: calc(55% - 30px);
        left: calc(50.5% - 30px);
        width: 60px;
        height: 60px;
        background-image: url("../../assets/icon/githubWhite.png");
    }
    .figma {
        position: absolute;
        top: calc(75% - 35px);
        left: calc(22% - 35px);
        width: 70px;
        height: 70px;
        background-image: url("../../assets/icon/figma.png");
    }
}



