@import '../../scss/_variables.scss';

.list {
    list-style-type: none;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;

    &__link {
        text-decoration: none;
        font-family: 'Nunito', sans-serif;
        font-size: 28px;
        font-style: italic;
        font-weight: 500;
        letter-spacing: 2px;
        color: $white;
        transition: all ease-in-out 0.35s;

        @media screen and (min-width: 1201px) and (max-width: 1380px) {
            font-size: 24px;
        }
        @media screen and (min-width: 1025px) and (max-width: 1200px) {
            font-size: 20px;
        }
        @media screen and (min-width: 769px) and (max-width: 1024px) {
            font-size: 22px;
        }
        @media screen and (min-width: 581px) and (max-width: 768px) {
            font-size: 22px;
        }
        @media screen and (min-width: 461px) and (max-width: 580px) {
            font-size: 18px;
        }
        @media screen and (min-width: 320px) and (max-width: 460px) {
            font-size: 14px;
        }

        &:hover {
            transform: scale(1.05);
            color: $gold;
        }

        &:active {
            transform: scale(1.02);
            color: $red;
        }

        &_img {
            width: 60px;
            height: 60px;
            margin-right: 15px;

            @media screen and (min-width: 1201px) and (max-width: 1380px) {
                width: 50px;
                height: 50px;
            }
            @media screen and (min-width: 1025px) and (max-width: 1200px) {
                width: 45px;
                height: 45px;
            }
            @media screen and (min-width: 769px) and (max-width: 1024px) {
                width: 40px;
                height: 40px;
            }
            @media screen and (min-width: 581px) and (max-width: 768px) {
                width: 35px;
                height: 35px;
            }
            @media screen and (min-width: 461px) and (max-width: 580px) {
                width: 30px;
                height: 30px;
            }
            @media screen and (min-width: 320px) and (max-width: 460px) {
                width: 25px;
                height: 25px;
                margin-right: 8px;
            }
        }
    }
}
