@import '../../scss/_variables.scss';

.skill {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px 0;

    &__icon {
        width: 60px;
        transition: all ease-in-out 0.35s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__text {
        font-family: 'Nunito', sans-serif;
        font-size: 32px;
        font-style: italic;
        font-weight: 600;
        letter-spacing: 2px;
        color: $white;
        margin-left: 10px;
        margin-right: 20px;
    }

    .small {
        width: 80px;
    }

}

