@import 'variables';
@import 'libs/normalize';

/*
font-family: 'Nunito', sans-serif;
font-family: 'Shantell Sans', cursive;
*/

.App {
    text-align: center;
  }

.job {
    font-family: 'Shantell Sans', cursive;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    color: $black;
}

.name {
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    font-style: italic;
    color: $red;
}

