@import 'variables';
@import 'libs/normalize';

/*
font-family: 'Nunito', sans-serif;
font-family: 'Shantell Sans', cursive;
*/

.wrapper {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        width: 4px;
        border-radius: 4px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 4px;
        background-color: black;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: $gold;
    }
}
.bgStars-enter-active {
    animation: bgPanTr 6s both;
}
.bgStars-exit-active {
    animation: bgPanTr 6s reverse;
}
.starsCircle-enter-active {
    animation: ScaleUp 6s ease-in-out infinite;
}
.starsCircle-exit-active {
    animation: ScaleUp 6s ease-in-out reverse;
}
.astronautFly-enter-active {
    animation: AstroFly 6s ease-in-out infinite;
}
.astronautFly-exit-active {
    animation: AstroFly 6s ease-in-out reverse;
}
.iconFlyDown-enter-active {
    animation: iconFlyDown 6s ease-in-out infinite;
}
.iconFlyDown-exit-active {
    animation: iconFlyDown 6s ease-in-out reverse;
}
.iconFlyLeft-enter-active {
    animation: iconFlyLeft 6s ease-in-out infinite;
}
.iconFlyLeft-exit-active {
    animation: iconFlyLeft 6s ease-in-out reverse;
}
.textShow-enter-active {
    animation: textShow 6s cubic-bezier(.25,.46,.45,.94) both;
}
.textShow-exit-active {
    animation: textShow 6s cubic-bezier(.25,.46,.45,.94) reverse;
}

@keyframes bgPanTr{
    0%{
        opacity: 0;
        background-position:0 100%;
    }
    100%{
        opacity: 1;
        background-position:100% 0;
    }
}

@keyframes ScaleUp{
    0%{
        transform:scale(1);
    }
    100%{
        transform:scale(1.25);
    }
}

@keyframes AstroFly {
    0% {
        transform: translateX(0px) translateY(0px);
    }
    100%{
        transform: translateX(60px) translateY(60px);
    }
}

@keyframes iconFlyDown {
    0% {
        transform: translateX(0px) translateY(0px);
    }
    100%{
        transform: translateX(100px) translateY(100px) scale(1.1);
    }
}

@keyframes iconFlyLeft {
    0% {
        transform: translateX(0px) translateY(0px);
    }
    100%{
        transform: translateX(-100px) translateY(100px) scale(1.05);
    }
}

@keyframes textShow{
    0%{
        letter-spacing:1em;
        transform:translateZ(300px);
        filter:blur(12px);
        opacity:0;
    }
    100%{
        transform:translateZ(12px);
        filter:blur(0);
        opacity:1;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1380px) {
    @keyframes AstroFly {
        0% {
            transform: translateX(0px) translateY(0px);
        }
        100%{
            transform: translateX(40px) translateY(40px);
        }
    }

    @keyframes iconFlyDown {
        0% {
            transform: translateX(0px) translateY(0px);
        }
        100%{
            transform: translateX(80px) translateY(80px) scale(1.1);
        }
    }

    @keyframes iconFlyLeft {
        0% {
            transform: translateX(0px) translateY(0px);
        }
        100%{
            transform: translateX(-80px) translateY(80px) scale(1.05);
        }
    }

    @keyframes textShow{
        0%{
            letter-spacing:1em;
            transform:translateZ(300px);
            filter:blur(12px);
            opacity:0;
        }
        100%{
            transform:translateZ(12px);
            filter:blur(0);
            opacity:1;
        }
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    @keyframes AstroFly {
        0% {
            transform: translateX(0px) translateY(0px);
        }
        100%{
            transform: translateX(30px) translateY(30px);
        }
    }

    @keyframes iconFlyDown {
        0% {
            transform: translateX(0px) translateY(0px);
        }
        100%{
            transform: translateX(60px) translateY(60px) scale(1.1);
        }
    }

    @keyframes iconFlyLeft {
        0% {
            transform: translateX(0px) translateY(0px);
        }
        100%{
            transform: translateX(-60px) translateY(60px) scale(1.05);
        }
    }

    @keyframes textShow{
        0%{
            letter-spacing:1em;
            transform:translateZ(300px);
            filter:blur(12px);
            opacity:0;
        }
        100%{
            transform:translateZ(12px);
            filter:blur(0);
            opacity:1;
        }
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    @keyframes AstroFly {
        0% {
            transform: translateX(0px) translateY(0px);
        }
        100%{
            transform: translateX(20px) translateY(20px);
        }
    }

    @keyframes iconFlyDown {
        0% {
            transform: translateX(0px) translateY(0px);
        }
        100%{
            transform: translateX(40px) translateY(40px) scale(1.1);
        }
    }

    @keyframes iconFlyLeft {
        0% {
            transform: translateX(0px) translateY(0px);
        }
        100%{
            transform: translateX(-40px) translateY(40px) scale(1.05);
        }
    }

    @keyframes textShow{
        0%{
            letter-spacing:1em;
            transform:translateZ(300px);
            filter:blur(12px);
            opacity:0;
        }
        100%{
            transform:translateZ(12px);
            filter:blur(0);
            opacity:1;
        }
    }
}

@media screen and (min-width: 581px) and (max-width: 768px) {
    @keyframes AstroFly {
        0% {
            transform: translateX(0px) translateY(0px);
        }
        100%{
            transform: translateX(18px) translateY(18px);
        }
    }

    @keyframes iconFlyDown {
        0% {
            transform: translateX(0px) translateY(0px);
        }
        100%{
            transform: translateX(25px) translateY(25px) scale(1.1);
        }
    }

    @keyframes iconFlyLeft {
        0% {
            transform: translateX(0px) translateY(0px);
        }
        100%{
            transform: translateX(-25px) translateY(25px) scale(1.05);
        }
    }

    @keyframes textShow{
        0%{
            letter-spacing:1em;
            transform:translateZ(400px);
            filter:blur(12px);
            opacity:0;
        }
        100%{
            transform:translateZ(12px);
            filter:blur(0);
            opacity:1;
        }
    }
}

@media screen and (min-width: 461px) and (max-width: 580px) {
    @keyframes AstroFly {
        0% {
            transform: translateX(0px) translateY(0px);
        }
        100%{
            transform: translateX(18px) translateY(18px);
        }
    }

    @keyframes iconFlyDown {
        0% {
            transform: translateX(0px) translateY(0px);
        }
        100%{
            transform: translateX(25px) translateY(25px) scale(1.1);
        }
    }

    @keyframes iconFlyLeft {
        0% {
            transform: translateX(0px) translateY(0px);
        }
        100%{
            transform: translateX(-25px) translateY(25px) scale(1.05);
        }
    }

    @keyframes textShow{
        0%{
            letter-spacing:1em;
            transform:translateZ(100px);
            filter:blur(12px);
            opacity:0;
        }
        100%{
            transform:translateZ(12px);
            filter:blur(0);
            opacity:1;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 460px) {
    // @keyframes AstroFly {
    //     0% {
    //         transform: translateX(0px) translateY(0px);
    //     }
    //     100%{
    //         transform: translateX(12px) translateY(12px);
    //     }
    // }

    // @keyframes iconFlyDown {
    //     0% {
    //         transform: translateX(0px) translateY(0px);
    //     }
    //     100%{
    //         transform: translateX(15px) translateY(15px) scale(1.1);
    //     }
    // }

    // @keyframes iconFlyLeft {
    //     0% {
    //         transform: translateX(0px) translateY(0px);
    //     }
    //     100%{
    //         transform: translateX(-15px) translateY(15px) scale(1.05);
    //     }
    // }

    // @keyframes textShow{
    //     0%{
    //         letter-spacing:1em;
    //         transform:translateZ(80px);
    //         filter:blur(12px);
    //         opacity:0;
    //     }
    //     100%{
    //         transform:translateZ(12px);
    //         filter:blur(0);
    //         opacity:1;
    //     }
    // }
    @keyframes AstroFly {
        0% {
            transform: translateX(0px) translateY(0px);
        }
        100%{
            transform: translateX(15px) translateY(15px);
        }
    }

    @keyframes iconFlyDown {
        0% {
            transform: translateX(0px) translateY(0px);
        }
        100%{
            transform: translateX(22px) translateY(22px) scale(1.1);
        }
    }

    @keyframes iconFlyLeft {
        0% {
            transform: translateX(0px) translateY(0px);
        }
        100%{
            transform: translateX(-22px) translateY(22px) scale(1.05);
        }
    }

    @keyframes textShow{
        0%{
            letter-spacing:1em;
            transform:translateZ(300px);
            filter:blur(12px);
            opacity:0;
        }
        100%{
            transform:translateZ(12px);
            filter:blur(0);
            opacity:1;
        }
    }
}


